#include <iostream>
using namespace std;
//adnan fais rafai 202531008

int main() {
    int hari_terlambat, denda;

    cout << "Masukkan jumlah hari terlambat: ";
    cin >> hari_terlambat;

    if (hari_terlambat == 0) {
        denda = 0;
    } else if (hari_terlambat >= 1 && hari_terlambat <= 3) {
        denda = hari_terlambat * 2000;
    } else if (hari_terlambat >= 4 && hari_terlambat <= 7) {
        denda = hari_terlambat * 5000;
    } else {
        denda = hari_terlambat * 10000;
    }

    cout << "Total denda: Rp" << denda << endl;

    return 0;
}
